@media screen and (max-width: 1440px) {
  #_pfp {
    grid-gap: 200px;
  }
}

@media screen and (max-width: 1200px) {
  #_pfp {
    grid-gap: 150px;
  }
}

@media screen and (max-width: 1080px) {
  #_pfp {
    grid-gap: 120px;
  }
}

@media screen and (max-width: 1079px) {
  #_pfp {
    grid-template-columns: max-content;
  }

  #_pfp .palm-tree {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .connection-container #_pfp img {
    width: 40px;
    height: 40px;
  }

  .connection-container h3 {
    font-size: 22px;
  }

  .connection-container img {
    width: 40px;
    height: 40px;
  }

  #featured-video {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  #pfp-container #_pfp img {
    border-width: 3px;
    width: 140px;
    height: 140px;
  }

  p {
    font-size: 14px;
  }

  #connections-container {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .connection-container img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  #pfp-container #_pfp img {
    border-width: 3px;
    width: 120px;
    height: 120px;
  }

  .title-text {
    font-size: 20px;
  }

  p {
    font-size: 13.5px;
  }

  .container {
    margin-top: 10px;
  }

  #connections-container {
    grid-gap: 6px;
  }

  .connection-container h3 {
    font-size: 16px;
  }

  .connection-container img {
    width: 25px;
    height: 25px;
  }

  #featured-video {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  #pfp-container #_pfp img {
    width: 100px;
    height: 100px;
  }

  #pfp-container h1 {
    font-size: 24px;
  }

  #connections-container {
    grid-template-columns: 100%;
  }
}

@media screen and (min-width: 1000px) {
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #343434;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #d9ed92;
    border-radius: 5px;
  }
}
